{% extends 'base.html' %}
{%block title%}   Products

{%endblock title%}
{%block body %}

<style>
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
      }
    .rang{
        color:Red;
    }
    #im{
        position: relative;
        
        left:400px;
        
        font-family:cursive;
        
    }
    
    
    </style>
{%if searchitems|length == 0 %}
<div id="im">
    <h2 >Search Results:</h2>
   <p > No Results Found</p>
   <p > Your Search:{{query}} has not matched with any products.</p>
   <ul>
    <li>Please Check if there is any spelling mistakes.</li>
    <li>Try different keywords</li>
    <li>Be more Clear</li>
    <li> Try general keywords</li>
   </ul></div>
    {%endif%}
   
<form action="/products" method="POST">
    {% csrf_token %}
    {%for image in searchitems%}
    
        <div class="container my-4" >
            <div class="row">
             <div class="col-md-4 ">
            <div class="row">

            <img src="{{image.imo.url}} " height="200" width="400" >
        
           </div>
        </div>
            <div class="col-md-8 ">
              <h5 class="card-title" id="nampr{{image.id}}" >{{image.name}}</h5>
              <p class="card-text" name="description">{{image.desc}}</p>
              <strong>Rs</strong><strong id="pripr{{image.id}}" class="rang" >{{image.price}}</strong>
              <a href="/checkpr/{{image.id}}" class="btn btn-primary" >Buy</a>
              <a class="btn btn-primary" onclick=hero(this) id="pr{{image.id}}">Add to cart</a>
            </div>
            
        </div>
            
        </div>
        

        
    {%endfor%}
        </form>
{%endblock body%}


  